
.sing {
    background-color: white;
    color: blue;
    padding: 5px 5px;
    font-size: 15px;

}

.acc {
    background-color: blue;
    color: whitesmoke;
    padding: 5px 20px;
    font-size: 15px;
}
ol {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

hr {
    background-color: #5f5c5c;
}

button {
    margin: 10px;
}

a {
    margin-top: 15px;
    margin-right: 10px;
}

.im {
    position: absolute;
    left: 5px;
    margin: 8px;
}

p {
    position: absolute;
    left: 60px;
    margin-left: 5px;
    font-size: x-large;

}
.head{
    display: flex;
    justify-content: space-around;
}

.ff{
    margin: 8em 10px;
    width: 20em;
    text-align: center;
}
.pp{
    margin: 0px;
    position: relative;
}
h1{
    font-size: 50px;
}
.bb1{
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
}
.ss{
  
    border-radius: 5px;
    border: 2px solid #979292;
}
.small{
    border-radius: 5px;
    border: 4px solid greenyellow;
    position:absolute;
    right: -4em;
    bottom: 3em;
}
.src{
    margin: 8em 10px;
    position: relative;

}
.circle{
    /* border: 2px solid black; */
    width: 110px;
    height: 110px;
    background-color: #eb235c;
    border-radius: 70px;
    position: absolute;
    left: -7em;
    top: -5.5em;
}
.compass{
    position:relative ;
    background-color: white;
    left: -3em;
    top: -15em;
    width: 6em;
    height: 30px;
    border-radius: 20px;
    border: 2px solid #989696;
    display: flex;
    font-size: x-large;
    padding: 5px 5px;
}
.co{
    color:#ff5f2f;
    margin: 2px 10px;
    font-size: x-large;
}
.arr{
    width: 40px;
    height: 30px;
}
.rr{
    font-size:30px;
    position: relative;
    right: 7.5em;
    top: -8em;
}
.file{
    /* margin: 10px 10px; */
    width: 7em;
    height: 1.075em;
    border: 1px solid #8b8585;
    position: absolute;
    left:-8em;
    top: 4.5em;
    border-radius: 10px;
    background-color: #fefafa;
}
i{
    margin-left: 10px;
}
.ficon .fa-solid{
    font-size: 5em;
    position: relative;
    left: -2em;
    top: -1.5em;
    color: yellow;
}
.search{
    font-size: 40px;
    position: relative;
    bottom:4.2em;
    right: 4em;
}
.smimg{
    position: absolute;
    bottom: 1em;
    right: 26em;
}
.distag{
    font-size: 10em;
    position: relative;
    bottom: 1.40em;
    right: -1em;
}
.text{
    position: absolute;
    bottom: -2em;
    right: -13em;
    border: 2px solid #c2bdbd;
    width: 28em;
    height: 1em;
    background-color: #fff;
    font-size: 12px;
    padding: 10px 5px;
}
b{
    display: inline;
}
.btp{
    color: #979292;
}
.fa-pp{
    font-size: 8em;
    position: relative;
    top: -6.60em;
    right: -2em;
    color: blue;
   
}
.cirimg{
  position: relative; 
  bottom: 53em;
  right: -26em;
}
.ho{
    border-radius: 30px;
    border: 2px solid black;
}